@import 'https://fonts.googleapis.com/css?family=Raleway';
body {
    background-color: #022d41;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active {
    background-color: #4CAF50;
}

.heading{
    width: 30%;
    height: 50px;
    background-color: red;
}

button {
    font-family: 'Raleway', sans-serif;
    background-color: #4CAF50;
    width: 60%;
    border: 0;
    margin: 20px 0px 0px 25px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form {
    width: 360px;
    height: 480px;
    background-color: white;
    margin: 0px auto; 
    text-align:center;
    box-shadow: 0 0 20px 0;
}


input {
    width: 200px;
    background-color: #f2f2f2;
    font-size: 14px;
    margin: 15px;
    padding: 10px;
}


.note{
    color: red;
    font-size: 24px;
}



textarea{
    margin: 15px 0px 0px 40px;
    resize: none;
    width: 220px;
    height: 100px;
}

.delete{
    color: white;
    text-decoration: none;
}

.bt-edit{
    border: 0px;
    color: white;
    margin: 15px 0px 0px 10px;
    background-color: #f1c40f;
}

.bt-back{
    border: 0px;
    color: white;
    margin: 15px 0px 0px 10px;
    background-color: #2980b9;
}

.bt-delete{
    border: 0px;
    color: white;
    margin: 15px 0px 0px 10px;
    background-color: #c0392b;
}

.form-login{
    width: 360px;
    height: 280px;
    background-color: white;
    margin: 200px auto; 
    text-align:center;
    box-shadow: 0 0 20px 0;
}

button.login-button {
    font-family: 'Raleway', sans-serif;
    background-color: #4CAF50;
    width: 60%;
    border: 0;
    margin: 15px 0px 0px 0px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.container{
    position: relative;
    display: flex;
    width: 720px;
    margin: 100px auto;
}

.rule{
    color: white;
    width: 360px;
    height: 380px;
    background-color: #333;
    margin: 2px auto; 
    text-align:center;
    box-shadow: 0 0 20px 0 black; 
    
}

.form-regis{
    width: 360px;
    height: 380px;
    background-color: white;
    margin: 2px auto; 
    text-align:center;
    box-shadow: 0 0 20px 0;
}
button.regis-button {
    font-family: 'Raleway', sans-serif;
    background-color: #4CAF50;
    width: 60%;
    border: 0;
    margin: 15px 0px 0px 0px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.content{
    color: white;
    text-align: center;
}