@import 'https://fonts.googleapis.com/css?family=Raleway';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.active {
    background-color: #4CAF50;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background: #022d41;
    font-family: 'Raleway', sans-serif;
}


.calendar {
    position: relative;
    width: 800px;
    margin: 20px auto 50px auto;
}

.head-date {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 28px;
}

.menu{
    display: inline;
    text-align: center;
}
.blank-days { 
    width: 81px;
    border: solid gray;
    border-width: 0px 0px 0px 1px;
    float: left;
    margin: 0px 0px 1px 2px;
    background: white;
    text-align: center;
    font-size: 18px;
}

.days { 
    width: 101px;
   border: solid gray;
    border-width: 0px 0px 0px 1px;
    float: left;
    background: white;
    text-align: center;
    font-size: 18px;
}

.date{
    width: 795px;
    height: 55px;  
    border: 1px solid black;
    float: right;
    position: relative;
    left: 0;
    margin: 1px;
    background: white;
}


.blankday {
    background: #333;
}

.date-active {
    width: 750px;
    height: 50px;
    border: 1px solid black;
    float: left;
    margin: 1px;
    background: #1aa6b7;
    font-size: 14px;
}

.title{
    background: #dae4f3;
    cursor: pointer;
    color: black;
    font-size: 14px;
    
}
.each-day{
    text-align: center;
    float: left;
  display: inline-block;
    border: solid gray;
    border-width: 0px 0px 0px 1px;
    height: 55px;
    width: 100px;
    background: #ffffff;
    margin: 0px 0px 0px 1px;
}

.time-each-day{
    text-align: center;
    float: left;
  display: inline-block;
    border: solid gray;
    border-width: 0px 0px 0px 1px;
    height: 55px;
    width: 79px;
    background: #ffffff;
    margin: 0px 0px 0px 0px;
}